
:root {
  --default_color: gray;
  --correct_color: green;
  --wrong_color:  red;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--default_color);
}


#container {
  background-color: blanchedalmond;
  border-radius: 15px;
  width: 800px;
  max-width: 80%;
  min-height: 500px;
  padding: 10px;
  box-shadow: 0 0 10px 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: Arial;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; 
}

#course-title {
  text-align: center;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
}

.test_flow::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(8, 33, 175);
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: left;
  cursor: pointer;
  line-height: 1.6;
}

.btn:hover {
  background-color: gold;
}

.btn-grid {
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
}

#question {
  font-size: 25px;
  font-weight: bold;
  align-self: flex-start;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.start-btn, .submit-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

.hide {
  display: none;
}

/* hr.dashed {
  border-top: 8px solid #bbb;
  border-radius: 5px;
} */

#score, #collect-initials, #score-list {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
  padding-left: 25px;
}

#high-score, #countdown {
  align-self: flex-start;
  padding-left: 25px;
  
}

#high-score {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;

}

ol {
  /* list-style-type: none; */
  padding: 20px;
  background-color: rgb(8, 33, 175);
  width: 35%;
  margin-left: 200px;
}

ol li {
  background-color: goldenrod;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  padding: 15px;
  margin-left: 35px;
 
}

